<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teacher-Create</title>
</head>
<body>
<form th:action="@{/teachers}" method="post" th:object="${teacher}">
    <label for="name">Name:
        <input id="name" type="text" name="name" th:value="*{name}">
    </label><br>
    <label for="address">Address:
        <input id="address" type="text" name="address" th:value="*{address}">
    </label><br>
    <label for="phone">Phone:
        <input id="phone" type="text" name="phone" th:value="*{phone}">
    </label><br>
    <label for="payment">Payment:
        <input id="payment" type="number" name="payment" th:value="*{payment}">
    </label><br>

    <button type="submit">Create</button>
</form>
<div th:if="${errors}">
    <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
</div>
</body>
</html>